
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: 500;
    font-size: xx-large;
    pointer-events: none;
  }
  
  .logo {
    height: 80px;
    width: 100px;
  }
  
  .ranking-sections {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    gap: 20px;
    padding: 20px;
    width: 100%;
    /* flex-grow: 1; Take remaining space */

  }
  
  .ranking-section-temperature {
    background-color: #f8f8f8; /* Background color */
    background-image: url('../../electricity_tower.png'); /* PNG from public folder */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 60% 90%;  /* Set specific width & height */
    padding: 20px;
    width: 45%;
    border-radius: 10px;
    height: 100%; /* Ensures both sections take full height */
    display: flex;
    flex-direction: column;
  }
  
  .ranking-section-health {
    background-color: #f8f8f8; /* Background color */
    background-image: url('../../fan.png'); /* PNG from public folder */
    background-repeat: no-repeat;
    background-position: center right ;
    background-size: 50% 90%;  /* Set specific width & height */
    padding: 20px;
    width: 45%;
    border-radius: 10px;
    height: 100%; /* Ensures both sections take full height */
    display: flex;
    flex-direction: column;
  }
  
  .section-icon{
    width: 25px;
    height: 25px;
  }
  
  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Spacing between icon and title */
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .temperature_color{
    color: #CC1D1D
  }
  .health_color{
    color: #1F717D
  }
  
  .teams-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr)); /* Two columns */
    gap: 10px;
    max-height: calc(100vh - 200px); /* Adjust height dynamically */
    overflow-y: auto;
    padding-right: 8px; /* Prevent scrollbar overlap */
  } 
  
  /* Optional: Improve scrollbar styling */
  .teams-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .teams-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
  }
  
  .teams-container::-webkit-scrollbar-track {
    background: #f8f8f8;
  }
  
  
  .rank{
    font-family: "Montserrat", serif;
  }
  
  .team-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 12px;
    margin-left: 5px;
  }
  
  .team-name {
    font-weight: 700;
    font-size: 'lg';
    color: #222;
    text-align: left;
    margin-top: -6px;
    margin-bottom: 6px;
  }
  
  .score {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #444;
  }
  
  .score-icon {
    margin-right: 7px;
    width: 18px;
    height: 18px;
  }
  
  .footer {
    /* justify-content: center;
    align-content: center; */
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  